wandb/
checkpoints/t2m/
checkpoints/Momask/checkpoints/
checkpoints/kit/
debug_files/
__pycache__/
*.out
*.log
*.pth
*.tar
evaluation/models/
debug*.py
debug*.sh
debug*.yaml
debug*/
deprecated/debug*.py
deprecated/debug*.sh
deprecated/debug*.yaml
# for glove
glove/
*.ipynb
gifs/

